.App {
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
}

section{
  background-color: green;
  margin: 20px;
  padding: 10px;
}

section h2{
  color: brown;
  font-size: 3em;
}

section p{
  color: brown;
  font-size: 1.5em;
  font-weight: 900;
}

#texto {
  margin: 100px;
}

Link {
  margin: 0 30px;
}

header {
  width: 100%;
  height: 80px;
  background-color: aqua;
  display: flex;
  justify-content: space-around;
  align-items: center;
}